
/* ===================================================================== */
/* Wood Pane
/* ===================================================================== */
.wood-pane {
   position: absolute;
   background: url("../images/playerUI/Game UI.png") no-repeat -795px -102px;
   height: 552px;
   width: 395px;
}


/* ===================================================================== */
/* Paper Pane
/* ===================================================================== */
.paper-pane {
   position: relative;
   background: url("../images/playerUI/Game UI.png") no-repeat -1193px -102px;
   height: 552px;
   width: 395px;
}


/* ===================================================================== */
/* Plate Colors
/* ===================================================================== */
.background-plate {
   position: absolute;
   background: url("../images/playerUI/Game UI.png") no-repeat -1603px -110px;
	width: 251px;
	height: 64px;
}

.white-plate {
   position: absolute;
   visibility: hidden;
   background: url("../images/playerUI/Game UI.png") no-repeat -1603px -178px;
	width: 251px;
	height: 64px;
}


/* ========== Grey Plate ========== */
.grey-plate {
   position: absolute;
   background: url("../images/playerUI/Game UI.png") no-repeat -1603px -246px;
	width: 251px;
	height: 64px;
}


/* ========== Blue Plate ========== */
.blue-plate {
   position: absolute;
   background: url("../images/playerUI/Game UI.png") no-repeat -1858px -110px;
	width: 251px;
	height: 64px;
}


/* ========== Red Plate ========== */
.red-plate {
   position: absolute;
   background: url("../images/playerUI/Game UI.png") no-repeat -1858px -178px;
	width: 251px;
	height: 64px;
}

.red-plate-borderless {
   position: absolute;
   background: url("../images/playerUI/Game UI.png") no-repeat -1868px -181px;
	width: 231px;
	height: 58px;
}


/* ========== Orange Plate ========== */
.orange-plate {
   position: absolute;
   background: url("../images/playerUI/Game UI.png") no-repeat -1603px -314px;
	width: 251px;
	height: 64px;
}

.orange-plate-borderless {
   background: url("../images/playerUI/Game UI.png") no-repeat -1613px -317px;
   width: 231px;
   height: 58px;
}


/* ========== Green Plate ========== */
.green-plate {
   position: absolute;
   background: url("../images/playerUI/Game UI.png") no-repeat -1858px -314px;
	width: 251px;
	height: 64px;
}

.green-plate-borderless {
   position: absolute;
   background: url("../images/playerUI/Game UI.png") no-repeat -1868px -317px;
   width: 231px;
   height: 58px;
}


/* ========== Purple Plate ========== */
.purple-plate {
   position: absolute;
   background: url("../images/playerUI/Game UI.png") no-repeat -1858px -246px;
	width: 251px;
	height: 64px;
}


/* ========== Yellow Plate ========== */
.yellow-plate {
   position: absolute;
   background: url("../images/playerUI/Game UI.png") no-repeat -1858px -382px;
	width: 251px;
	height: 64px;
}


/* ===================================================================== */
/* Spell Corner
/* ===================================================================== */
.spell-corner {
   position: absolute;
   background: url("../images/playerUI/Game UI.png") no-repeat -2119px -260px;
   width: 131px;
   height: 132px;
}

.panel-corner {
   position: absolute;
   background: url("../images/playerUI/Game UI.png") no-repeat -2274px -268px;
	width: 130px;
	height: 109px;
}


/* ===================================================================== */
/* Bar Square
/* ===================================================================== */
.square-frame {
   position: absolute;
	background: url("../images/playerUI/Game UI.png") no-repeat -2119px -111px;
	width: 144px;
	height: 144px;
}

.square-background {
   position: absolute;
   background: url("../images/playerUI/Game UI.png") no-repeat -2124px -396px;
	width: 144px;
	height: 144px;
}

.square-background-clear {
   position: absolute;
   visibility: hidden;
   background: url("../images/playerUI/Game UI.png") no-repeat -2274px -396px;
	width: 144px;
	height: 144px;
}


/* ===================================================================== */
/* Transition Duration
/* ===================================================================== */
.fluid,
.toggle-panel-left,
.toggle-panel-right,
.toggle-chat,
.hide-chat,
.toggle-bag,
.hide-bag {
   transition-duration: 0.8s;
}


/* ===================================================================== */
/* Name Plate
/* ===================================================================== */
.name-plate {
   position: absolute;
   top: -35px;
   left: 50%;
   height: 65px;
   width: 250px;
   transform: translate(-50%) scale(95%, 85%);
}

.name-plate p {
   z-index: 100;
   color: gold;
   transform: scale(270%, 230%);
}

.name-plate p,
.stat-name p,
.stat-value p {
   font-family: "Dimbo-Regular";
   text-shadow: black 2px 2px 1px;
}

.name-plate:hover .white-plate {
   visibility: visible;
}

.name-plate:active {
   top: -30px;
   left: 51%;
}


/* ===================================================================== */
/* Panel Top Position
/* ===================================================================== */
.player-inventory,
.player-stats {
   top: 35px;
}

.player-map,
.player-score {
   top: 173px;
}

.player-social,
.player-controls {
   top: 310px;
}


/* ===================================================================== */
/* Pane Toggle
/* ===================================================================== */
.panel-left,
.panel-right {
   visibility: hidden;
   transform: scale(90%, 90%);
}

.panel-left {
   left: -400px;
}

.panel-right {
   right: -400px;
}

.toggle-panel-left {
   left: -12px !important;
}

.toggle-panel-right {
   right: -12px !important;
}


/* ===================================================================== */
/* Nav Bar
/* ===================================================================== */
.nav-left,
.nav-right {
   position: absolute;
   align-content: space-between;
   top: 50%;
   height: 65%;
   width: 37px;
   transform: translate(0%, -50%);
}

.nav-left {
   left: -48px;
}

.nav-right {
   right: -48px;
}

.hide-nav-left {
   left: -8px !important;
}

.hide-nav-right {
   right: -8px !important;
}


/* ===== Nav Buttons ===== */
.nav-left button,
.nav-right button {
   position: relative;
   top: 0;
   left: 0;
   height: 60px;
   width: 100%;
   transform: scale(65%, 65%) rotate(-90deg);
   background-color: transparent;
}

.nav-left button:active {
   top: -4px;
   left: 5px;
}

.nav-right button:active {
   top: -4px;
   left: -5px;
}

.hide-left-nav-button {
   left: 40px !important;
}

.hide-right-nav-button {
   left: -40px !important;
}