
/* ===================================================================== */
/* Log Screen
/* ===================================================================== */
.hide-LogScreen {
   top: -900px !important;
   /* visibility: hidden !important; */
}

.log-screen {

   /* ********************************************* Dev Mode ********************************************* */
   /* visibility: hidden !important; */
   /* ********************************************* Dev Mode ********************************************* */

   z-index: 100;
   position: fixed;
   overflow: hidden;
   top: 10px;
   height: 830px;
   width: 417px;
   animation-name: show_LogScreen;
}

.log-background {

   /* ********************************************* Dev Mode ********************************************* */
   /* visibility: hidden !important; */
   /* ********************************************* Dev Mode ********************************************* */
   
   position: absolute;
   top: 0;
   height: 100%;
   width: 100%;
   background: black;
}

.flag {
   position: relative;
   display: block;
   height: 100%;
   width: 100%;
   background: url("../images/Flag.png") no-repeat 0px 0px;
   animation-name: show_Flag;
}

.log-form {
   position: relative;
   bottom: 380px;
   height: auto;
   width: 65%;
   animation-name: show_Form;
}

.log-screen,
.log-form {
   left: 50%;
   transform: translate(-50%);
}

.log-screen,
.flag,
.log-form,
.hide-LogScreen {
   animation-iteration-count: 1;
   animation-timing-function: ease-in-out;
   animation-duration: 1.7s;
   transition-duration: 1.7s;
}


/* ===== Show Flag Anim ===== */
@keyframes show_LogScreen {
   0% { top: -900px; }
   50% { top: 250px; }
   100% { top: 10px; }
}

@keyframes show_Flag {
   0% { height: 0; }
   20% { height: 0; }
   100% { height: 830px; }
}

@keyframes show_Form {
   0% { bottom: 800px; }
   45% { bottom: 800px; }
   85% { bottom: 200px; }
   100% { bottom: 380px; }
}


/* ========== InputFields ========== */
.field-container {
   position: relative;
   top: -20px;
   height: 50px;
   width: 100%;
}

.field-container input {
   text-align: center;
   height: 100%;
   width: 100%;
   border: none;
   color: white;
   letter-spacing: 3px;
   text-shadow: black 2px 2px 0px;
   background: rgba(0, 0, 0, 0.9);
   font-size: 230%;
}

.log-input-left {
   transform: scale(41%, 41%);
   top: -42px;
   left: -43px;
}

.log-input-right {
   transform: scale(-41%, -41%);
   top: -40px;
   right: -44px;
}


/* ========== Log Button ========== */
.log-plate {
   top: 65px !important;
   transform: translate(-50%) scale(95%, 85%);
   box-shadow: black 0px 20px 15px;
}

.log-plate p {
   color: lime !important;
}

.log-plate:active {
   top: 70px !important;
}


/* ===================================================================== */
/* Alert Pop Up
/* ===================================================================== */
.alert-container {
   visibility: hidden;
   position: absolute;
   overflow: hidden;
   top: 0px;
   left: 0;
   height: 100%;
   width: 100%;
}

.alert {
   top: -4px;
   left: -250px;
   transform: scale(117%, 84%);
   transition-duration: 0.5s;
}

.alert-slide {
   left: 23px;
}

.alert p {
   text-align: center;
   position: relative;
   top: 12px;
   font-size: 170%;
}