
/* ===================================================================== */
/* Chat
/* ===================================================================== */
.chat {
   display: none;
   position: relative;
   justify-content: space-between;
   align-content: flex-end;
   margin-left: 10px;
   height: 710px;
}

/* Chrome scroll bar */
::-webkit-scrollbar {
   width: 8px;
   background: transparent;
}
::-webkit-scrollbar-thumb {
   background: white;
}

.general-chat-btn,
.private-chat-btn {
   top: 4px;
   height: 50px;
   width: 48%;
   border-radius: 10px 10px 0px 0px;
}

.general-chat,
.private-chat {
   overflow-y: scroll;
   scrollbar-width: thin;
   scrollbar-color: white transparent;

   top: 54px;
   left: 50%;
   height: 465px;
   width: 89%;
   
   padding: 10px;
   transform: translate(-50%);
}


/* ========== General Chat ========== */
.general-chat-btn {
   left: 4px;
   background: rgb(206, 83, 255);
}

.general-chat {
   z-index: 10;

   border-radius: 0px 10px 10px 10px;
   border: solid 4px rgb(206, 83, 255);
   background: linear-gradient(to bottom, rgb(206, 83, 255), lightgray);
}


/* ========== Private Chat ========== */
.private-chat-btn {
   right: 4px;
   background: orange;
}

.private-chat {
   z-index: 0;

   border-radius: 10px 0px 10px 10px;
   border: solid 4px orange;
   background: linear-gradient(to bottom, orange, lightgray);
}

.message-receiver {
   z-index: 20;
   position: absolute;

   left: 50%;
   bottom: 125px;
   height: 35px;
   width: 90%;
   
   font-size: 20px;
   text-align: center;
   transform: translate(-50%);
   
   border-radius: 30px;
   border: solid 2px rgb(206, 83, 255);
   background: linear-gradient(to bottom left, violet, white, lightblue, white);
}

.private-message-received {
   animation: privateReceived linear 0.2s;
}

@keyframes privateReceived {
   0% { background: red }
   100% { background: orange }
}


/* ========== Btn Hover/Active ========== */
.general-chat-btn:hover,
.private-chat-btn:hover,
.clear-chat-btn:hover {
   box-shadow: none;
}

.general-chat-btn:active,
.private-chat-btn:active {
   border: none;
}


.general-chat,
.chat-enter {
   margin-bottom: 5px;
}

.chat {
   width: 16%;
}

.message,
.player-controls div p {
   margin-bottom: 8px;
}

.chat-enter input {
   height: 100%;
   width: 100%;
   padding-left: 15px;
   border: none;
   background: rgb(105, 197, 255);
}

.chat-enter input,
.clear-chat-btn  {
   border-radius: 10px;
}

.general-chat,
.chat-enter input,
.controls-message div p {
   font-size: 18px;
   font-family: "Verdana";
}

.chat-enter,
.clear-chat-btn {
   height: 55px;
}


/* ========== Message Hover ========== */
.message:hover {
   cursor: pointer;
   color: white;
}