
/* ===================================================================== */
/* Controls Pane
/* ===================================================================== */
.map-container,
.society-container,
.controls {
   position: absolute;
   top: 40px;
   left: 80px;
   width: 65%;
}

.map-container p,
.society-container p,
.controls p {
   font-family: "Dimbo-Regular";
   font-size: 190%;
   color: black;
}