
/* ===================================================================== */
/* Controls Pane
/* ===================================================================== */
.player-controls {
   top: 290px;
}

.controls {
   position: absolute;
   top: 40px;
   left: 80px;
   width: 65%;
}

.controls p {
   font-family: "Dimbo-Regular";
   font-size: 190%;
   color: black;
}