
/* ===================================================================== */
/* Wood Pane
/* ===================================================================== */
.wood-pane {
   position: absolute;
   background: url("../images/playerUI/Game UI.png") no-repeat -795px -102px;
   height: 552px;
   width: 395px;
}


/* ===================================================================== */
/* Paper Pane
/* ===================================================================== */
.paper-pane {
   position: relative;
   background: url("../images/playerUI/Game UI.png") no-repeat -1193px -102px;
   height: 552px;
   width: 395px;
}


/* ===================================================================== */
/* Plate Colors
/* ===================================================================== */
.background-plate {
   position: absolute;
   background: url("../images/playerUI/Game UI.png") no-repeat -1603px -110px;
	width: 251px;
	height: 64px;
}

.white-plate {
   position: absolute;
   visibility: hidden;
   background: url("../images/playerUI/Game UI.png") no-repeat -1603px -178px;
	width: 251px;
	height: 64px;
}

.grey-plate {
   position: absolute;
   background: url("../images/playerUI/Game UI.png") no-repeat -1603px -246px;
	width: 251px;
	height: 64px;
}

.blue-plate {
   position: absolute;
   background: url("../images/playerUI/Game UI.png") no-repeat -1858px -110px;
	width: 251px;
	height: 64px;
}

.red-plate {
   position: absolute;
   background: url("../images/playerUI/Game UI.png") no-repeat -1858px -178px;
	width: 251px;
	height: 64px;
}

.orange-plate {
   position: absolute;
   background: url("../images/playerUI/Game UI.png") no-repeat -1603px -314px;
	width: 251px;
	height: 64px;
}

.green-plate {
   position: absolute;
   background: url("../images/playerUI/Game UI.png") no-repeat -1858px -314px;
	width: 251px;
	height: 64px;
}

.purple-plate {
   position: absolute;
   background: url("../images/playerUI/Game UI.png") no-repeat -1858px -246px;
	width: 251px;
	height: 64px;
}

.yellow-plate {
   position: absolute;
   background: url("../images/playerUI/Game UI.png") no-repeat -1858px -382px;
	width: 251px;
	height: 64px;
}


/* ===================================================================== */
/* Name Plate
/* ===================================================================== */
.name-plate {
   position: absolute;
   top: -23px;
   transform: scale(95%, 85%);
}

.name-plate p {
   margin: 0;
   padding: 0;
   z-index: 100;
   font-weight: 600;
   font-size: 190%;
   color: gold;
}

.name-plate p,
.stat-name p,
.stat-value p {
   font-family: "Orbitron-Extrabold";
   text-shadow: black 5px 5px 5px;
}

.name-plate:hover .white-plate {
   visibility: visible;
}


/* ===================================================================== */
/* Pane Toggle
/* ===================================================================== */
.nav-pane {
   visibility: hidden;
   right: -400px;
   transform: scale(90%, 90%);
   transition-duration: 0.8s;
}

.toggle-nav-pane {
   right: 45px !important;
   transition-duration: 0.8s;
}


/* ===================================================================== */
/* Nav Bar
/* ===================================================================== */
.UI-navBar {
   visibility: hidden;
   position: absolute;
   top: 50%;
   right: 10px;
   width: 50px;
   transform: translate(0%, -50%);
}

.UI-navBar button {
   height: 50px;
   width: 50px;
   margin-bottom: 40px;
   border: double black 6px;
   border-radius: 8px;
   background: linear-gradient(to bottom right, black, dodgerblue, black);


   text-align: center;
   font-size: 120%;
   color: gold;
   font-family: "Orbitron-Extrabold";
   text-shadow: black 5px 5px 5px;
}

.UI-navBar button:hover {
   background: linear-gradient(to bottom right, black, darkturquoise, black);
}

.UI-navBar button:active {
   background: linear-gradient(to bottom right, black, red, black);
}