
/* ===================================================================== */
/* Chat
/* ===================================================================== */
.player-chat .wood-pane,
.player-chat .paper-pane {
   transform: translate(20%, -14%) rotate(90deg);
}

/* Chrome scroll bar */
::-webkit-scrollbar {
   width: 8px;
   background: transparent;
}
::-webkit-scrollbar-thumb {
   background: white;
}


.player-chat {
   position: absolute;
   bottom: -368px;
   left: 40px;
   height: 395px;
   width: 552px;
}

.chat-glowing {
   position: absolute;
   top: 6px;
   left: 5px;
   width: 98.5%;
   height: 97.5%;
}

.glow-purple {
   animation: chatGlowing_Purple 2s linear infinite;
}

.glow-orange {
   animation: chatGlowing_Orange 2s linear infinite;
}

@keyframes chatGlowing_Purple {
   0% { box-shadow: darkviolet 0px 0px 0px; }
   50% { box-shadow: darkviolet 0px 0px 60px; }
   100% { box-shadow: darkviolet 0px 0px 0px; }
}

@keyframes chatGlowing_Orange {
   0% { box-shadow: orangered 0px 0px 0px; }
   50% { box-shadow: orangered 0px 0px 60px; }
   100% { box-shadow: orangered 0px 0px 0px; }
}

.chat-plate {
   transform: translate(-50%) scale(85%, 75%);
}

.general-plate,
.private-plate {
   top: 15px;
   transform: scale(70%, 60%);
   background: transparent;
}

.general-chat,
.private-chat {
   visibility: hidden;
   position: absolute;
   overflow: scroll;
   scrollbar-width: thin;

   top: 72px;
   left: 40px;
   height: 50%;
   width: 85%;
}

.general-chat p,
.private-chat p {
   font-size: 146%;
}

.general-chat p,
.private-chat p,
.message-receiver p,
.chat-form input {
   font-family: "Dimbo-Regular";
}

/* ========== Private Mess Alert ========== */
.got-whisp {
   visibility: hidden;
   opacity: 100%;
}

.whisp-alert {
   visibility: visible !important;
   animation: whispAlert 1s linear;
}

@keyframes whispAlert {
   0% { opacity: 100%; }
   100% { opacity: 0%; }
}


/* ========== General Chat ========== */
.general-plate {
   left: 25px;
}

.general-chat {
   scrollbar-color: darkviolet transparent;
}


/* ========== Private Chat ========== */
.private-plate {
   left: 280px;
}

.private-chat {
   scrollbar-color: orangered transparent;
}


/* ========== InputField ========== */
.receiver-container {
   position: absolute;
   top: 312px;
   left: 30px;

   transform: scale(95%, 75%);
}

.message-receiver {
   font-size: 230%;
   transform: scale(85%, 100%);
}

.chat-form {
   position: absolute;
   bottom: 84px;
   left: 50%;
   height: 36px;
   width: 470px;
   transform: translate(-50%);
}

.chat-form input {
   height: 100%;
   width: 100%;
   padding-left: 15px;
   border: none;
   color: white;
   text-shadow: black 2px 2px 0px;
   background: rgba(0, 0, 0, 0.6);
   font-size: 150%;
}

.input-corner-top {
   transform: scale(29%, 29%);
   top: -49px;
   left: -50px;
}

.input-corner-bottom {
   transform: scale(-29%, -29%);
   top: -47px;
   left: 389px;
}

/* ========== Clear Chat ========== */
.clear-plate {
   top: 308px;
   left: 276px;
   transform: scale(70%, 65%);
}


/* ========== Toggle Chat ========== */
.toggle-chat {
   bottom: 15px !important;
}

.hide-chat {
   bottom: -420px !important;
}


/* ========== :hover ========== */
.general-chat .message:hover {
   color: darkviolet;
   text-shadow: black 1px 1px 0px;
}

.private-chat .message:hover {
   color: orangered;
   text-shadow: black 1px 1px 0px;
}


/* ========== :active ========== */
.chat-plate:active {
   left: 50.7%;
}

.general-plate:active {
   top: 19px;
   left: 29px;
}

.private-plate:active {
   top: 19px;
   left: 284px;
}

.clear-plate:active {
   top: 312px;
   left: 50.5%;
}