* {
   margin: 0;
   padding: 0;
}

.flexCenter {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-content: center;
   width: 100%;
}

/* Orbitron Regular */
@font-face {
   font-family: "Orbitron-Regular";
   src: url("../fonts/Orbitron-Regular.ttf");
}

/* Orbitron Extra Bold */
@font-face {
   font-family: "Orbitron-ExtraBold";
   src: url("../fonts/Orbitron-ExtraBold.ttf");
}



/* ==========  Game  ========== */
.game {
   position: absolute;
   height: 700px;
   width: 1000px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.canvas-1 {
   border: 1px solid black;
   background: yellowgreen;
}



/* ==========  Chat  ========== */
.chat {
   position: absolute;
   align-content: space-between;
   top: 50%;
   left: 12%;
   height: auto;
   width: 400px;
   background: white;
   padding: 4px;
   transform: translate(-50%, -50%);
   border: 2px solid gray;
   border-radius: 15px;
}

.chat-box,
.chat-form {
   position: relative;
}

.chat-box,
.chat-form input {
   border-radius: 10px;
   font-size: 20px;
   /* font-family: "Orbitron-Regular"; */
   font-family: "Verdana";
}

.chat-box {
   overflow-y: scroll;
   height: 500px;
   width: 100%;
   margin-bottom: 4px;
   padding: 15px;
   background: rgb(206, 227, 255);
}

.chat-form {
   height: 50px;
}

.chat-form input {
   height: 100%;
   width: 100%;
   padding-left: 15px;
   border: none;
   background: rgb(105, 197, 255);
}

.death-screen {
   visibility: hidden;
   font-size: 30px;
}