
/* ===================================================================== */
/* Viewport
/* ===================================================================== */
.viewport {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   height: 870px; /* ==> Check to match with viewport size in JS */
   width: 1780px;

   background-color: black;
   animation: openGameWindow;
}

@keyframes openGameWindow {
   0% { width: 0px; }
   100% { width: 1780px; } /* ==> Check to match with viewport size in JS */
}


/* ===================================================================== */
/* Game Window
/* ===================================================================== */
.game-window {   
   position: absolute;
   overflow: hidden;
   height: 100%;
   width: 100%;
   background-color: black;
}

canvas {
   position: absolute;
}


/* ===================================================================== */
/* Style Frame
/* ===================================================================== */
.style-frame {
   z-index: 100;
   position: fixed;
   display: block;
   background: url("../images/playerUI/Game Frame.png") no-repeat;
}


/* ======================== */
/* Sides
/* ======================== */
.top-side-left,
.top-side-right,
.right-side,
.bottom-side-left,
.bottom-side-right,
.left-side {
	height: 13px;
}


/* ===== Left & Right ===== */
.left-side,
.right-side {
   width: 1310px;
   background-position: 0 0;
}

.left-side {
   bottom: 49%;
   left: -3px;
   transform: translate(-50%) rotate(90deg) scale(64%, 130%);
}

.right-side {
   top: 49%;
   right: -4px;
   transform: translate(50%) rotate(90deg) scale(64%, -130%);
}


/* ===== Left ===== */
.top-side-left,
.bottom-side-left  {
   width: 965px;
   background-position: 0 0;
}


/* ===== Right ===== */
.top-side-right,
.bottom-side-right {
   width: 965px;
   background-position: -320px 0 !important;
}


/* ===== Top ===== */
.top-side-left,
.top-side-right {
   top: -10px;
   transform: scale(85%, -130%);
}

.top-side-left {
   left: 0;
   animation: leftSideWindow;
}

.top-side-right {
   right: 0;
   animation: rightSideWindow;
}


/* ===== Bottom ===== */
.bottom-side-left,
.bottom-side-right {
   bottom: -10px;
   transform: scale(85%, 130%);
}

.bottom-side-left {
   left: 0;
   animation: leftSideWindow;
}

.bottom-side-right {
   right: 0;
   animation: rightSideWindow;
}


@keyframes leftSideWindow {
   0% { width: 0px; background-position: -965px 0; }
   100% { width: 965px; background-position: 0 0; }
}

@keyframes rightSideWindow {
   0% { width: 0px; background-position: -1310px 0; }
   100% { width: 965px; background-position: -320px 0; }
}


/* ===== Top & Bottom ===== */
.viewport,
.top-side-left,
.top-side-right,
.bottom-side-left,
.bottom-side-right {
   animation-duration: 2s;
   animation-timing-function: linear;

   /* ********************************************* Dev Mode ********************************************* */
   /* animation-duration: 0s; */
   /* ********************************************* Dev Mode ********************************************* */
}


/* ======================== */
/* Corners
/* ======================== */
.corner-top-left,
.corner-top-right,
.corner-bottom-right,
.corner-bottom-left {
   width: 145px;
	height: 83px;
   background-position: 0 -14px !important;
}

.corner-top-left {
   top: -25px;
   left: -20px;
   transform: scale(100%, -100%);
}

.corner-top-right {
   top: -25px;
   right: -20px;
   transform: scale(-100%, -100%);
}

.corner-bottom-right {
   bottom: -25px;
   right: -20px;
   transform: scale(-100%, 100%);
}

.corner-bottom-left {
   bottom: -25px;
   left: -20px;
}


/* ===================================================================== */
/* Death Screen
/* ===================================================================== */
.death-screen {
   visibility: hidden;
   position: absolute;
   top: 25%;
   left: 50%;
   height: 0px;
   width: 315px;
   transform: scale(80%, 80%) translate(-190%, -20%);

   transition-duration: 0.8s;
   animation: deathScreen_fadeOut 3s 1.2s linear infinite;
}

.death-screen .paper-pane {
   overflow: hidden;
   left: -35px;
   top: -20px;
   height: 0px;
   transition-duration: 0.8s;
}

.deathScreen-popUp {
   height: 500px !important;
}

.deathPaper-popUp {
   height: 552px !important;
}

@keyframes deathScreen_popUp {
   0% { height: 0px; }
   100% { height: 552px; }
}

@keyframes deathScreen_fadeOut {
   0% { box-shadow: 0 0 10px red }
   50% { box-shadow: 0 0 130px red }
   100% { box-shadow: 0 0 10px red }
}

.death-message,
.respawn-timer {
   text-align: center;
   color: red;
}

.death-message {
   padding: 60px;
   font-size: 500%;
}

.respawn-timer {
   font-size: 250%;
}